---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Personal Projects">
  <h1>More about me</h1>

  <section>
    <h2>Recipes</h2>
    <p>
      I am an avid cook and baker. I collect my favorite recipes <a
        href="/recipes/">here</a
      >, so feel free to browse!
    </p>
  </section>

  <section>
    <h2>Singing</h2>
    <p>
      I've been in a cappella groups since I was in high school - check out my
      current group <a
        href="http://redshiftacappella.org/"
        target="_blank"
        rel="noopener">Redshift</a
      >! We sing a mix of genres, all fun, and have been singing together for
      more than a decade.
    </p>
    <p>
      I've sung with Swarthmore College Mixed Company, and the B-Naturals of the
      Brearley School in New York.
    </p>
  </section>

  <section>
    <h2>Reading</h2>
    <p>
      I love books. If I were a superhero, my superpower would be super speed
      reading. My first love is scifi/fantasy, but any good writing will catch
      my attention. I particularly like the clever, funny and touching work of
      Mary Roach, who reveals the more esoteric sides of science. Michael
      Pollan's Omnivore's Dilemma is in my "keep forever" pile, and my all-time
      favorite author is Robin Hobb. Find me on <a
        href="https://www.goodreads.com/user/show/2845222-fraser"
        target="_blank"
        rel="noopener">GoodReads</a
      >!
    </p>
  </section>

  <section>
    <h2>Gardening</h2>
    <p>
      My latest endeavor is for this city girl to see if she can grow a green
      thumb. So far, I've harvested enough basil to keep me in pesto for a long
      time, and I think my tomato plant may be sentient!
    </p>
  </section>
</BaseLayout>
